[submodule "chris"]
	path = chris
	url = https://github.com/usestrix/strix.git
[submodule "daniel"]
	path = daniel
	url = https://github.com/KeygraphHQ/shannon.git
[submodule "david"]
	path = david
	url = https://github.com/morpheuslord/HackBot.git
[submodule "jonathan"]
	path = jonathan
	url = https://github.com/stalane/HackerGPT.git
[submodule "wrench"]
	path = wrench
	url = https://github.com/0x4m4/hexstrike-ai.git
[submodule "skills-library"]
	path = skills-library
	url = https://github.com/mukul975/Anthropic-Cybersecurity-Skills.git
